spring.application.name=taski
spring.datasource.url=jdbc:mysql://server:your-port/your-bd-name?useSSL=false&serverTimezone=UTC
spring.datasource.username=yourBDUsername
spring.datasource.password=yourBDPassword
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
spring.jpa.properties.hibernate.format_sql=true

server.servlet.context-path=/api/v1


spring.mail.host=sandbox.smtp.mailtrap.io
spring.mail.port=yorPort
spring.mail.username=yourMailTrapUsername
spring.mail.password=yourMailTrapPass
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

// This base url is the endpoint that are going to be sent to the final user
app.mail.base-url=http://server:your-port//api/v1/auth/
app.mail.verify-path=verify?token=
app.mail.reset-password-path=reset-password?token=


jwt.secret=sample-secret-key-for-jwt-authentication
jwt.expiration=3600000

spring.profiles.active=dev




server.port=yourServerPort